body {
    background-color: rgb(240, 240, 240);
}

.btn-outline-success {
    border: 1px solid rgb(148, 90, 153) !important;
    outline: rgb(148, 90, 153) !important;
    color: rgb(148, 90, 153) !important;

}

.btn-outline-success:hover {
    background: rgb(148, 90, 153) !important;
    color: white !important;

}

.btn-round {
    border-radius: 50%;
    padding: 6px 8px;
}

.nav-link {
    color: rgb(148, 90, 153) !important;
    transition: all ease-in !important;
    font-weight: bold !important;
}

.nav-link:hover {
    color: rgb(191, 128, 197) !important;

    transition: all ease-in !important;

}

.navbar-toggler{
    color: transparent!important;
    outline-offset: transparent !important;
    outline-color: transparent !important;
    border: transparent !important;
    border-radius: none !important;
    
}
.fa-bars:hover{
    color: rgb(207, 143, 212) !important;
}

.card{
    background: rgb(248, 249, 250)!important;
    border: none !important;
    border-radius: 0px !important;
}

.btn-primary{
    background-color: rgb(81, 1, 173) !important;
    border: rgb(81, 1, 173) !important;
}
.btn-primary:hover{
    background-color: rgb(101, 10, 206) !important;
    border: rgb(104, 7, 216) !important;
}


a{
    color:rgb(148, 90, 153) !important;
}


.active {
    border-bottom: 5px solid rgb(191, 128, 197) !important;
    
}

.tag {
    color:rgb(148, 90, 153);
    font-size: 20px;
    
    
}
.txt-primary {
    color:rgb(148, 90, 153) !important;
    
}