{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/x-icon">
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <div class="container-fluid bg-light">
      <div class="container py-3">
        <div class="row">
          <div class="d-flex justify-content-between m-auto align-items-center">
            <div class="col-md-3 mx-1">
              <a href="{% url 'blogs:home' %}" class="nav-link">Blogs</a>
            </div>
            <div class="col-md-6">
              <form class="d-flex" role="search" action="{% url 'blogs:search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" />
                <button class="btn btn-outline-success btn-round" type="submit">Go</button>
              </form>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              {% if not user.is_authenticated %}
                <a href="{% url 'users:login' %}" class="nav-link mx-3">Login</a>
                <a href="{% url 'users:register' %}" class="nav-link">Register</a>
              {% else %}
                <a href="{% url 'dashboards:dashboard' %}" class="nav-link mx-3">Dashboard</a>
                <a href="{% url 'users:logout' %}" class="nav-link">Logout</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container bg-light shadow-sm">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span><i class="fa fa-bars" style="font-size: 30px;color: rgba(156, 95, 161, 1);"></i></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              {% for cat in categories %}
                <li class="nav-item">
                  <a class="nav-link {% if cat.category_slug in request.path %}active{% endif %}" aria-current="page" href="{% url 'blogs:blog_by_category' cat.category_slug %}">{{ cat.category_name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container my-2">
      <!-- base.html -->

      <div class="row">
        <div class="col-md-9 my-1">
          {% if messages %}
            <div class="container">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% block content %}

          {% endblock %}
        </div>
        {% block sidebar %}
          <div class="col-md-3 my-1">
            <div class="card p-2 shadow-sm">
              <h3 class="d-display-5 pt-2">{{ about.about_header }}</h3>
              <hr />
              <p>{{ about.about_content|truncatewords:100 }}</p>
              <a href="{% url 'social:about_page' %}" class="nav-link my-3">Read More</a>
            </div>

            <div class="card p-2 my-3 shadow-sm">
              <h3 class="d-display-5 pt-2">Social Media</h3>
              <hr />

              {% for social in social_links %}
                <a href="{{ social.social_link }}" class="nav-link my-1" target="_blank">
                  <img src="{{ social.social_icon.url }}" alt="" style="width: 20px;height:auto;" />
                  &nbsp;{{ social.social_name }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% endblock %}
      </div>
    </div>

    <div class="container bg-light">
      <footer class="mx-auto my-3">
        <div class="row">
          <div class="col py-3 mx-auto text-center">
            <p class="py-3 mt-3 tag">
              &copy;{% now 'Y' %}Your Company Name
            </p>
          </div>
        </div>
      </footer>
    </div>
    {% block j_script %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
