{% extends '_base.html' %}
{% block title %}
  blog - dashboard - User
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card p-3">
        <h5 class="fw-bold fs-4 text-center nav-link">Total Users</h5>
        <h6 class="text-center fs-5">({{ users.count }})</h6>
      </div>
    </div>
    <div class="col">
      <hr class="my-1 border-4 border-primary" style="width: 100%;" />
      <a href="{% url 'dashboards:dashboard_user_create' %}" class="px-3 my-2 btn btn-outline-success">Create a New</a>
      <div class="card p-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">E_mail</th>
              <th scope="col">is_active</th>
              <th scope="col">is_staff</th>
              <th scope="col">phone</th>
              <th scope="col">Image</th>
              <th scope="col">Permissions</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                  <a href="{% url 'dashboards:dashboard_user_edit' user.username %}" class="nav-link">{{ user.username }}</a>
                </td>
                <td class="text-muted">{{ user.email }}</td>
                <td class="text-muted">
                  {% if user.is_active %}
                    <i class="fa fa-check text-success"></i>
                  {% else %}
                    <i class="fa fa-times text-danger"></i>
                  {% endif %}
                </td>
                <td class="text-muted">
                  {% if user.is_staff %}
                    <i class="fa fa-check text-success"></i>
                  {% else %}
                    <i class="fa fa-times text-danger"></i>
                  {% endif %}
                </td>
                <td class="text-muted">
                  {% if user.userprofile.phone %}
                    {{ user.userprofile.phone }}
                  {% else %}
                    --------------
                  {% endif %}
                </td>
                <td>
                  <img src="{{ user.userprofile.photo.url }}" alt="" style="width: 30px;height: 30px; border-radius: 50%;" />
                </td>
                {% for group in user.groups.all %}
                  <td class="text-muted">{{ group.name }}</td>
                {% empty %}
                  <td class="text-muted">-------</td>
                {% endfor %}
                <td>
                  <div class="d-flex justify-content-between">
                    <a href="{% url 'dashboards:dashboard_user_edit' user.username %}"><i class="fa fa-edit text-success"></i></a>
                    <a href="{% url 'dashboards:dashboard_user_delete' user.username %}"><i class="fa fa-trash text-danger"></i></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'dashboards/sidebar.html' %}
{% endblock %}
