{% extends '_base.html' %}
{% block title %}
  blog - about
{% endblock %}

{% block content %}
  <div class="row bg-light p-3">
    <a href="{% url 'social:dashboard_about_edit' about.about_header %}" class="nav-link"><h5 class="fw-bold px-4 nav-link">{{ about.about_header }}</h5></a>
    <div class="col mx-auto">
      <div class="card">
        <div class="card-body pt-0">
          <hr class="my-1 border-3 border-primary" style="width: 60px;" />
          <p class="text-muted">{{ about.about_content|truncatewords:30 }}</p>
        </div>
        <a href="{% url 'social:dashboard_about_edit' about.about_header %}" class="nav-link mx-3" style="border: 2px solid purple;width: 100px; margin: auto; text-align: center;"><i class="fa fa-edit"></i> Edit </a>
      </div>
    </div>
</div>
<hr class="my-1 border-3 border-primary" style="width: 100%;" />
  <div class="row bg-light p-3">
    <div class="col mx-auto">
      <h5 class="fw-bold px-4 nav-link my-2 fs-4">Social Media</h5>
      <div class="card">
        <div class="card-body pt-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Social Name</th>
                <th scope="col">Social Link</th>
                <th scope="col">Social Icon</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for social in Social_links %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                    <a href="" class="nav-link">{{ social.social_name }}</a>
                  </td>
                  <td>{{ social.social_link }}</td>
                  <td>
                    <img src="{{ social.social_icon.url }}" alt="" style="width: 30px;height: 30px; border-radius: 50%;" class="d-block"/>
                  </td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <a href=""><i class="fa fa-edit text-success"></i></a>
                      <a href=""><i class="fa fa-trash text-danger"></i></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block sidebar %}
  {% include 'dashboards/sidebar.html' %}
{% endblock %}
