{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  blog - dashboard - social - delete
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <hr class="my-1 border-4 border-primary" style="width: 100%;" />
      <div class="d-flex justify-content-between align-items-center">
        <a href="" class="px-3 my-2 btn fw-bold fs-4"><span class="text-muted">Social Name:</span>{{ social.social_name }}</a>
        <a href="{% url 'social:dashboard_about_page' %}?next={{ request.path }}" class="nav-link px-3">&larr; Back</a>
      </div>
      <div class="card p-3">
        <h4 class="my-2">Would you like to Delete this Social ?</h4>
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger px-5 py-1 my-2" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'dashboards/sidebar.html' %}
{% endblock %}
